.vaccinePillCell {
  position: relative;
  border-right-color: #c8cace;
  border-right-width: 1px;
  border-right-style: solid;
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
}
